# Configuración del Contenedor
CONTAINER_NAME=mariadb-client-001
VOLUME_NAME=mariadb_client_001_data
NETWORK_NAME=mariadb_client_001_network

# Configuración de MariaDB
MYSQL_ROOT_PASSWORD=root_secure_password_change_me
MYSQL_DATABASE=sistemasadn
MYSQL_USER=sistemas
MYSQL_PASSWORD=adn

# Puerto de acceso externo
# Nota: Si tienes MySQL/MariaDB instalado localmente, usa un puerto diferente (ej: 3307)
MYSQL_PORT=3307

# Zona horaria
TIMEZONE=America/Caracas
