# Environment variables
.env

# Docker volumes
data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo


backups/
init/01-SISTEMASADN.sql
init/02-GCREPORT.sql
init/03-COMPONENTES.sql
init/04-AUDITOR.sql
init/05-ADN.sql